body{
    text-align: center;
    background-color: aliceblue;
}
.inp{
    width: 250px;
    height: 40px;
}
#bu{
    width: 200px;
    height: 40px;
    font-size: large;
    text-decoration: solid;
    background-color: rgb(0, 102, 255);
    border-radius: 12px;
    color: white; cursor: pointer;
}